<div class="mb-3">
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSearch"
      aria-expanded="false" aria-controls="collapseSearch">
      Advance Search
    </button>
  </p>
  <div class="collapse" id="collapseSearch">
    <div class="card card-body">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlInput1">Ticket ID</label>
              <input type="text" class="form-control" id="ticketId">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlInput1">Ticket Name</label>
              <input type="text" class="form-control" id="ticketName">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlInput1">Reporter</label>
              <input type="text" class="form-control" id="reporter">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlInput1">Activity</label>
              <input type="text" class="form-control" id="activity">
            </div>
          </div>
          <div class="col-md-3" style="float: right;">
            <button mat-flat-button color="primary">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Ticket Name</th>
      <th>Reporter</th>
      <th>Create Date</th>
      <th>Status</th>
      <th>Activity</th>
      <th>Product Stream</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr height="50px" *ngFor="let data of datas">
      <td>{{data.id}}</td>
      <td>{{data.ticketName}}</td>
      <td>{{data.reporter}}</td>
      <td>{{data.createdDate}}</td>
      <td>
        <span *ngIf="data.status === 'success'" class="badge badge-pill badge-primary">{{data.status}}</span>
        <span *ngIf="data.status === 'warning'" class="badge badge-pill badge-warning">{{data.status}}</span>
        <span *ngIf="data.status === 'danger'" class="badge badge-pill badge-danger">{{data.status}}</span></td>
      <td>{{data.activity}} <span *ngIf="data.status === 'danger'" class="material-icons">
          info
        </span></td>
      <td>{{data.productStream}}</td>
      <td>
        <div class="row">
          <button mat-mini-fab color="primary" class="mr-2">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
  </tbody>
</table>
