<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" opened="true">
    <mat-nav-list>
      <div style="margin-bottom: 50px;">
        <img src="../assets/img/logo.png" width="90%" alt="logo" class="center">
      </div>
      <mat-list-item>
        <mat-icon mat-list-icon style="color: white;">confirmation_number</mat-icon>
        <span style="margin-top:10px;margin-left: 50px; color: white;" class="menu">
          <h4>All Ticket</h4>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon style="color: white;">local_activity</mat-icon>
        <span style="margin-top:10px;margin-left: 50px; color: white;" class="menu">
          <h4>My Ticket</h4>
        </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <mat-icon class="menu-mat-icon" style="cursor: pointer" (click)="opened = ! opened">menu</mat-icon>
      <div class="form-inline">

        <span>
          <button mat-button [matMenuTriggerFor]="menu">
            <h4>Hi, Ikhsan</h4>
          </button>

          <button mat-mini-fab color="primary" class="mr-2">
            <mat-icon>logout</mat-icon>
          </button>
        </span>
        <mat-menu #menu="matMenu">
          <div style="padding: 16px;">
            <span>Role : <b>Business Owner</b></span>
            <br />
            <div style="float:right ">
              <button type="button" class="btn btn-sm btn-primary mb-2">Logout</button>
            </div>
          </div>
        </mat-menu>
      </div>
    </nav>

    <div class="breadcrumb">
      <h4>Dashboard > All Ticket</h4>
    </div>
    <div class="content">
      <app-ticket></app-ticket>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
