@import "~bootstrap/dist/css/bootstrap.min.css";

mat-sidenav-container {
  height: 100%;
  background-color: #d9dadd;
}

/* mat-sidenav, mat-sidenav-content {
  padding : 16px;
} */

mat-sidenav {
  background-color: #133184;
  width: 20%;
  position: fixed;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  justify-content: space-between;
  height: 70px;
}
span {
  padding-right: 1rem;
}

.menu-mat-icon {
  font-size: 30px;
}

.breadcrumb {
  margin: 16px;
  background-color: white;
  height: 50px;
  padding: 12px 16px;
}

.content {
  background-color: white;
  margin: 16px;
  padding: 16px;
}

mat-sidenav mat-list-item:hover{
  background-color: #8ba1e0;
}
